body{
    font-family: 'Roboto', sans-serif;
}
.nav{
    background-color: rgb(88, 81, 81);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: white;
    padding-left: 20px;
    /* padding-right: 20px; */
}
.nav-links{
    
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding-right: 20px;

} 

a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}



.btn{
    background-color: rgb(20, 171, 182);
    color: white;
    padding: 5px;
    margin-left: 20px;
    border-right: solid 5px black;
    border-bottom: solid 5px black;
    border-top: solid 3px black;
    border-left: solid 3px black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}